@model List<UI.Client.ViewModel.VMPerson>

<h2>Lista osób - GetAll() - SELECT * FROM Person</h2>
<br />
@foreach (var p in Model)
{
    <div class="col-md-3">
        <div class="well well-lg">
            <ul>
                <b> PERSON #@p.id</b>
                <li>Imię: @p.FirstName</li>
                <li>Nazwisko: @p.LastName</li>
            </ul>
        </div>
        <br />
    </div>
}

